{% extends 'rango/shared/base.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}Rango{% endblock%}

{% block body_block %}
    {% if user.is_authenticated %}
    <h1>Rango says... hello {{ user.username }}!</h1>

        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    {% endif %}

    <hr />
    You've visited {{ visits }} time(s).<br />
    You last visited on {{ last_visit_on }}.
{% endblock %}