{% extends 'rango/shared/base.html' %}
{% block title %}Rango{% endblock%}

{% block body_block %}
    <h1>Register with Rango</h1>

    {% if registered %}
    Rango says: <strong>Thank you for registering!</strong>
    <a href="/rango/">Return to the homepage.</a><br/>
    {% else %}
    Rango says: <strong>Register here.</strong><br/>

    <form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

        {% csrf_token %}
        <!-- display each form. the as_p method wraps each element in a new paragraph element -->
        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
{% endblcok %}